name: Build pcsc-lite for MiSTer

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout build repo
      uses: actions/checkout@v4

    - name: Checkout pcsc-lite
      uses: actions/checkout@v4
      with:
        repository: LudovicRousseau/PCSC
        path: pcsc-lite
        ref: master

    - name: Install build dependencies
      run: |
        sudo dpkg --add-architecture armhf
        sudo apt update

        sudo apt install -y \
          meson ninja-build pkg-config \
          gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf \
          libusb-1.0-0-dev:armhf \
          libudev-dev:armhf


    - name: Build pcsc-lite
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Package artifact
      run: |
        tar -C output -czf pcsc-lite-mister.tar.gz .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: pcsc-lite-mister
        path: pcsc-lite-mister.tar.gz

    - name: Create GitHub Release
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        files: pcsc-lite-mister.tar.gz
