name: build-pcsc-lite-armhf

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Configure apt
        run: |
          sudo dpkg --add-architecture armhf
          sudo rm -f /etc/apt/sources.list.d/*.list
          sudo sed -i '/security.ubuntu.com/d' /etc/apt/sources.list
          sudo tee /etc/apt/sources.list <<EOF
          deb [arch=amd64] http://archive.ubuntu.com/ubuntu jammy main universe multiverse
          deb [arch=amd64] http://archive.ubuntu.com/ubuntu jammy-updates main universe multiverse
          deb [arch=amd64] http://archive.ubuntu.com/ubuntu jammy-backports main universe multiverse
          deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports jammy main universe multiverse
          deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports jammy-updates main universe multiverse
          EOF
          sudo apt update

      - name: Install dependencies
        run: |
          sudo apt install -y \
            meson \
            ninja-build \
            pkg-config \
            gcc-arm-linux-gnueabihf \
            g++-arm-linux-gnueabihf \
            libc6-dev:armhf \
            libusb-1.0-0-dev:armhf \
            libudev-dev:armhf \
            libsystemd-dev:armhf \
            libcap-dev:armhf

      - name: Clone pcsc-lite
        run: |
          git clone https://github.com/LudovicRousseau/PCSC.git pcsc-lite

      - name: Create Meson cross file
        run: |
          mkdir -p pcsc-lite
          cat > pcsc-lite/meson-cross.txt <<EOF
          [binaries]
          c = 'arm-linux-gnueabihf-gcc'
          cpp = 'arm-linux-gnueabihf-g++'
          ar = 'arm-linux-gnueabihf-ar'
          strip = 'arm-linux-gnueabihf-strip'
          pkgconfig = 'pkg-config'

          [host_machine]
          system = 'linux'
          cpu_family = 'arm'
          cpu = 'armv7'
          endian = 'little'
          EOF

      - name: Configure pcsc-lite
        run: |
          cd pcsc-lite
          meson setup pcsc-lite/build pcsc-lite \
          --prefix=/usr \
          --buildtype=release \
          -Dembedded=true \
          -Dlibsystemd=false \
          -Dlibudev=false \
          -Dlibusb=true \
          -Dpolkit=false \
          -Dusb=true \
          -Dserial=false


      - name: Build pcsc-lite
        run: |
          cd pcsc-lite
          meson compile -C build

      - name: Install pcsc-lite
        run: |
          cd pcsc-lite
          DESTDIR=$PWD/stage meson install -C build

      - name: Package artifacts
        run: |
          tar czf pcsc-lite-armhf.tar.gz -C pcsc-lite/stage .

      - uses: actions/upload-artifact@v4
        with:
          name: pcsc-lite-armhf
          path: pcsc-lite-armhf.tar.gz
